Django==1.4
django-social-auth==0.6.9
South==0.7.3
-e git+https://github.com/toastdriven/django-haystack.git#egg=django_haystack-dev
-e git+https://github.com/bradleyayers/django-tables2#egg=django_tables2-dev
-e hg+https://bitbucket.org/fabian/django-taggit-autosuggest#egg=django_taggit_autosuggest-dev
django-taggit==0.9.3
gdata==2.0.15
httplib2==0.7.2
lxml==2.3
markup==0.2
pysolr==2.1.0-beta
django-wysiwyg==0.4.1

