{% load i18n %}
{% load load_helpdesk_settings %}
{% load wysiwyg %}
{% with request|load_helpdesk_settings as helpdesk_settings %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block helpdesk_title %}Helpdesk{% endblock %}</title>

        {% comment %}
        {## django-taggit-autosuggest uses django.jQuery ##}
        <script src='{{ STATIC_URL }}admin/js/jquery.min.js' type='text/javascript' language='javascript'></script>
        <script src='{{ STATIC_URL }}admin/js/jquery.init.js' type='text/javascript' language='javascript'></script>
        {## TODO: cant seem to upgrade jquery ##}
        <script src='{{ STATIC_URL }}helpdesk/jquery-ui-1.8.20.custom.min.js' type='text/javascript' language='javascript'></script>
        <script src='{{ STATIC_URL }}helpdesk/jquery-1.7.2.min.js' type='text/javascript' language='javascript'></script>
        {% endcomment %}
        
        <script src='{{ STATIC_URL }}helpdesk/jquery-1.5.min.js' type='text/javascript' language='javascript'></script>
        <script src='{{ STATIC_URL }}helpdesk/jquery.mousewheel.min.js' type='text/javascript' language='javascript'></script>
        <script src='{{ STATIC_URL }}helpdesk/jScrollPane.js' type='text/javascript' language='javascript'></script>
        {% wysiwyg_setup %}

        <link rel='stylesheet' href='{{ STATIC_URL }}helpdesk/helpdesk.css' type='text/css'  media="screen" />
        <link rel='stylesheet' href='{{ STATIC_URL }}helpdesk/helpdesk-print.css' type='text/css' media="print" />
        <link rel='stylesheet' href='{{ STATIC_URL }}helpdesk/jquery-smoothness-theme/jquery-ui-1.8.9.custom.css' type='text/css' />
        <link rel='stylesheet' href='{{ STATIC_URL }}helpdesk/jScrollPane.css' type='text/css' />
        {{ form.media }}

        <script type="text/javascript">

        $(function() {

              $('#saved_search_dropdown_button').click(function() {
                $('#saved_searches').toggle();
            });


            $('.scroll-pane').jScrollPane();

        });

        </script>
        
    {% block helpdesk_head %}{% endblock %}

    </head>

    <body>
        <div id='container'>
            <div id='header'>
                {% if helpdesk_settings.PM_LOGO_URL %}
                    <div id="logo_div">
                        <img id="logo" src="{{ helpdesk_settings.PM_LOGO_URL }}"/> 
                    </div>
                {% endif %}
                    <h1>{% trans "Helpdesk" %}</h1>
                <div id="header_buttons">
                    {% block helpdesk_header %}{% endblock %}
                    <div id="navigation">
                    {% include "helpdesk/navigation.html" %}
                    </div>
                </div>
            </div>
            
            <div id="body_wrap">
            <div id='body' class="scroll-pane">
                {% block helpdesk_body %}{% endblock %}
            </div>
        </div>

            <div id='footer'>
                <p>{% include "helpdesk/attribution.html" %}
                {% comment %}
                <a href='{% url helpdesk_rss_index %}'><img src='{{ STATIC_URL }}helpdesk/rss_icon.png' width='14' height='14' alt='{% trans "RSS Icon" %}' title='{% trans "RSS Feeds" %}' border='0' />{% trans "RSS Feeds" %}</a>
                {% endcomment %}
                {% if helpdesk_settings.HELPDESK_FOOTER_SHOW_API_LINK %}<a href='{% url helpdesk_api_help %}'>{% trans "API" %}</a>{% endif %}
                <a href='{% url helpdesk_user_settings %}'>{% trans "User Settings" %}</a>
                {% if helpdesk_settings.HELPDESK_FOOTER_SHOW_CHANGE_LANGUAGE_LINK %}
                <a href='{% url helpdesk_public_change_language %}?return_to={{ request.path }}'>{% trans "Change Language" %}</a>
                {% endif %}
                {% if user.is_superuser %}<a href='{% url helpdesk_system_settings %}'>{% trans "System Settings" %}</a>{% endif %}</p>
            </div>
        </div>
        {% include "helpdesk/debug.html" %}
    </body>
</html>
{% endwith %}
