{% load i18n %}
{% if helpdesk_settings.HELPDESK_NAVIGATION_ENABLED and user.is_authenticated or user.is_staff %}
<ul id="dropdown">
    <li><a href='{% url haystack_search %}'>{% trans "Home" %}</a></li>
    <li><a href='{% url helpdesk_submit %}'>{% trans "New Ticket" %}</a></li>
    {% if helpdesk_settings.HELPDESK_NAVIGATION_STATS_ENABLED %}
    <li><a href='{% url helpdesk_report_index %}'>{% trans "Stats" %}</a></li>
    {% endif %}
    {% if helpdesk_settings.HELPDESK_KB_ENABLED_STAFF %}
    <li><a href='{% url helpdesk_kb_index %}'>{% trans "Knowledgebase" %}</a></li>
    {% endif %}


{% endif %}

{% if not request.path == '/helpdesk/login/' or user.is_authenticated %}
	{% if user.is_authenticated %}<li><a href='{% url logout %}'>{% trans "Logout" %}</a></li>
	{% else %}<ul><li>
			<a href='{% url login %}?next={% if next %}{{ next|escape }}{% else %}{% url helpdesk_dashboard %}{% endif %}'>{% trans "Log In" %}</a>
		  </li></ul>
	{% endif %}
{% endif %}
