{% load helpdesk_filters %} 
<script src='{{ STATIC_URL }}helpdesk/jquery-1.7.2.min.js' type='text/javascript' language='javascript'></script>
<script src='{{ STATIC_URL }}helpdesk/jquery-ui-1.8.20.custom.min.js' type='text/javascript' language='javascript'></script>
<base target="_parent" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}helpdesk/paleblue/css/screen.css" />
{% spaceless %}
{% load querystring from django_tables2 %}
{% load trans blocktrans from i18n %}
{% if table.page %}
<div class="table-container">
    {% if sticky %}
        <img id="active_sticky" class="sticky" src="{{ STATIC_URL }}helpdesk/buttons/active_tack.png"/> 
        <img id="disabled_sticky" class="sticky" src="{{ STATIC_URL }}helpdesk/buttons/disabled_tack.png" hidden/> 
    {% else %}
        <img id="active_sticky" class="sticky" src="{{ STATIC_URL }}helpdesk/buttons/active_tack.png" hidden/> 
        <img id="disabled_sticky" class="sticky" src="{{ STATIC_URL }}helpdesk/buttons/disabled_tack.png"/> 
    {% endif %}
{% endif %}

{% block table %}
<table{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
    {% block table.thead %}
    {% if table.page %}
    <thead>
        <tr>
        {% for column in table.columns %}
<th {{ column.attrs.th.as_html }}> <a href="{% if column.is_ordered %} {% querystring table.prefixed_order_by_field=column.order_by_alias.opposite %} {% else %} {% querystring table.prefixed_order_by_field=column.order_by_alias %} {% endif %}" target="_self">{{ column.header }}</a></th>

{% comment %}
{## order_by functionality is funky... ##}
            <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by.opposite|default:column.name %}" target="_self">{{ column.header }}</a></th>
{% endcomment %}
        {% endfor %}
        </tr>
    </thead>
{% endif %}
    {% endblock table.thead %}
    {% block table.tbody %}
    <tbody>
        {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
        {% block table.tbody.row %}
        <tr class="{% cycle "odd" "even" %}">
            {% for column, cell in row.items %}
                <td {{ column.attrs.td.as_html }}>{{ cell|safe }}</td>
            {% endfor %}
        </tr>
        {% endblock table.tbody.row %}
        {% empty %}
        {% if table.empty_text %}
        {% block table.tbody.empty_text %}
        <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
        {% endblock table.tbody.empty_text %}
        {% endif %}
        {% endfor %}
    </tbody>
    {% endblock table.tbody %}
    {% block table.tfoot %}
    <tfoot></tfoot>
    {% endblock table.tfoot %}
</table>
{% endblock table %}

{% if table.page %}
{% block pagination %}
<ul class="pagination">
    {% if table.page.has_previous %}
    {% block pagination.previous %}
    <li class="previous"><a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}" target="_self">{% trans "Previous" %}</a></li>
    {% endblock pagination.previous %}
    {% endif %}
    {% block pagination.current %}
    <li class="current">{% blocktrans with current=table.page.number total=table.paginator.num_pages %}Page {{ current }} of {{ total }}{% endblocktrans %}</li>
    {% endblock pagination.current %}
    {% if table.page.has_next %}
    {% block pagination.next %}
    <li class="next"><a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}" target="_self">{% trans "Next" %}</a></li>
    {% endblock pagination.next %}
    {% endif %}
</ul>
{% endblock pagination %}
</div>
{% endif %}
{% endspaceless %}

<script type="text/javascript">


$(function() {

    $('#disabled_sticky').click(function() {
        var existing_saved_search = false;
        var title = null;
        {% if existing_saved_search %}
            existing_saved_search = true;
        {% else %}
            title = prompt('Please enter a name for your search.');
        {% endif %}
        if (title || existing_saved_search) {
            $.post('{% url save_search %}', {
                'title': title, 
                'href': location.href, 
                'sticky': 'true', 
                'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                function () {
                    window.parent.location.href = "{% url haystack_search %}";
                }
                );
        } else {
            $('#active_sticky').attr('hidden', true);
            $('#disabled_sticky').attr('hidden', false);
        }

    });


    function toggle_sticky() {
        $.post('{% url toggle_sticky %}', {
            'href': location.href.replace('&sticky=true',''), 
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        });
    }

    $('#active_sticky').click(function() {
        $('#active_sticky').attr('hidden', true);
        $('#disabled_sticky').attr('hidden', false);
        toggle_sticky();
    });

    $('#disabled_sticky').click(function() {
        $('#disabled_sticky').attr('hidden', true);
        $('#active_sticky').attr('hidden', false);
        toggle_sticky();
    });

    function change_ticket_order(el) {
        $.post(
            '{% url change_ticket_order %}', 
            {
            'ticket_id': el.id.split('__')[1], 
            'new_order': el.value,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
            } 
        );
    }

    $('.ticket_order')
        .keydown(function(e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                change_ticket_order(this);
            }
        })
        .keyup(function(e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                window.parent.location.href = "{% url haystack_search %}";
            }
        })
        .click(function() {
            this.select();
        })
        .change(function() {
            change_ticket_order(this);
            window.parent.location.href = "{% url haystack_search %}";
        });

});

</script>
