{% extends 'helpdesk/base.html' %}
{% load helpdesk_filters %} 
{% load render_table from django_tables2 %} 

{% block helpdesk_body %}
    <h2>Search</h2>

<form method="get" action=".">
    <table>
        <tbody>
            <tr>
                <td><input type="text" name="q" id="id_q"/></td>
                <td><input type="submit" value="Search"></td>
                <td><span class="link" id="save">Save</span></td>
            </tr>
        </tbody>
    </table>
</form>

<p><b>Saved searches:</b><span id="saved_searches"> {{ saved_searches|safe }} </span></p>

{% if query %}

    {% render_table table "helpdesk/table.html"%}

{% endif %}


{% for sticky_search in sticky_searches %}
<iframe frameborder="0" scrolling="no" width="100%" height="350px" src="?{{ sticky_search.query }}&sticky=true"></iframe>
{% endfor %}


<script type="text/javascript">
    
$(function() {


    // TODO: saved search functionality
    $('#save').click(function() {
        var title = prompt('Please enter a name for your search.');
        $('#saved_searches').load('save', {'title': title, 'href': location.href, 'csrfmiddlewaretoken': '{{ csrf_token }}'});
    });

    $('#[id*=delete_saved_search]').live('click', function() {
        $('#saved_searches').load('delete', {'saved_search__pk': $(this).attr('id').split('__')[1], 'csrfmiddlewaretoken': '{{ csrf_token }}'});
    });

    function split( val ) {
        return val.split( /,\s*/ );
    }
    function extractLast( term ) {
        return split( term ).pop();
    }

    $('#id_q')
        .bind('keydown', function(event) {
            if (event.keyCode === $.ui.keyCode.TAB && $(this).data('autocomplete').menu.active) {
                event.preventDefault();
            }
        })
        .autocomplete({
            source: function( request, response ) {
                $.getJSON( "/helpdesk/search/autocomplete", {
                    term: extractLast( request.term )
                }, response );
            },
            search: function() {
                // custom minLength
                var term = extractLast( this.value );
                if ( term.length < 2 ) {
                    return false;
                }
            },
            focus: function() {
                // prevent value inserted on focus
                return false;
            },
            select: function( event, ui ) {
                var terms = split( this.value );
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push( ui.item.value );
                // add placeholder to get the comma-and-space at the end
                terms.push( "" );
                this.value = terms.join( ", " );
                return false;
            }
        })
        .data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a><b>" + item.label + ":</b> " + item.value + "</a>" )
                .appendTo( ul );
        };

});

</script>

{% endblock %}
