{% extends 'helpdesk/base.html' %}
{% load helpdesk_filters %} 
{% load render_table from django_tables2 %} 

{% block helpdesk_body %}
    <h2>Search</h2>

<form id="search_form" method="get" action=".">
    <table>
        <tbody>
            <tr>
                <td><input size="50" type="text" name="q" id="id_q"/></td>
                <td><input id="search_button" type="submit" value="Search"></td>
                <td><span class="link" id="save">Save</span></td>
            </tr>
        </tbody>
    </table>
</form>

<p><b>Saved searches:</b><span id="saved_searches"> {{ saved_searches|safe }} </span></p>

<div id="results">
    {% render_table table "helpdesk/table.html"%}
</div>


{% for sticky_search in sticky_searches %}
    <span class="search_title">{{ sticky_search.title }}</span>
    <iframe frameborder="0" scrolling="no" width="100%" height="350px" src="?{{ sticky_search.query }}&sticky=true"></iframe>
{% endfor %}


<script type="text/javascript">

    // resize iframes after load
    $(window).load(function() {
        $('iframe').each(function(i, iframe) {
            var header_footer = 120;
            var height = $(iframe).contents().find('table').height();
            $(iframe).attr('height', header_footer + height  + 'px');
        });
    });

    
    
$(function() {

    $('#save, #disabled_sticky').click(function() {
        var existing_saved_search = false;
        var title = null;
        {% if existing_saved_search %}
            existing_saved_search = true;
        {% else %}
            title = prompt('Please enter a name for your search.');
        {% endif %}
        if (title || existing_saved_search) {
            $('#saved_searches').load('{% url save_search %}', {
                'title': title, 
                'href': location.href, 
                'sticky': true ? $(this).id == 'disabled_sticky' : false, 
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            });
        } else {
            $('#active_sticky').attr('hidden', true);
            $('#disabled_sticky').attr('hidden', false);
        }
    });

    $('#[id*=delete_saved_search]').live('click', function() {
        $('#saved_searches').load('{% url delete_search %}', {'saved_search__pk': $(this).attr('id').split('__')[1], 'csrfmiddlewaretoken': '{{ csrf_token }}'});
    });

    function split( val ) {
        return val.split( /,\s*/ );
    }
    function extractLast( term ) {
        return split( term ).pop();
    }

    $('#id_q')
        .bind('keydown', function(event) {
            if (event.keyCode === $.ui.keyCode.TAB && $(this).data('autocomplete').menu.active) {
                event.preventDefault();
            }
        })
        .autocomplete({
            source: function( request, response ) {
                $.getJSON("{% url autocomplete_search %}", {
                    term: extractLast( request.term )
                }, response );
            },
            search: function() {
                // custom minLength
                var term = extractLast( this.value );
                if ( term.length < 2 ) {
                    return false;
                }
            },
            focus: function() {
                // prevent value inserted on focus
                return false;
            },
            select: function( event, ui ) {
                var terms = split( this.value );
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push( ui.item.label + ':' + ui.item.value );
                //terms.push( ui.item.value );
                // add placeholder to get the comma-and-space at the end
                terms.push( "" );
                this.value = terms.join( "," );
                return false;
            }
        })
        .data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a><b>" + item.label + ":</b> " + item.value + "</a>" )
                .appendTo( ul );
        };

        function format_search(search_str) {
            var search_str = search_str.replace(/:/g,'_exact:');
            searches = search_str.split(',');
            var search_q = '';
            var facets = '';
            for (i in searches) {
               var search = searches[i];
               if (search.match(':')) {
                  facets += '&selected_facets=' + search; 
               } else if (search) {
                  search_q += search + ',';
               }
            }
            search_q = 'q=' + search_q + facets;
            //$('#id_q').val(search_q);
            location.href = '{% url haystack_search %}?'+search_q;
        }

        $('#search_button').click(function(e) {
            e.preventDefault();
            format_search($('#id_q').val());
        });

        $('#id_q').keypress(function(e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                format_search($('#id_q').val());
            }
        });



});

</script>

{% endblock %}
