* {
    margin: 0;
    outline: none;
}

html, body {
    height: 100%;
}

body {
    font: 10pt "Trebuchet MS", Arial, sans-serif;
    background-color: #fff;
    text-align: center;
    background-image: url("/static/helpdesk/background-body.png");
}

blockquote {
    width: 80%;
    margin: 0 auto 0 20px;
    padding-left: 5px;
    border-left: 2px solid gray;
    background: #E5E5E5;
}

p {
    margin: 5px;
}

#container {
    min-height: 100%;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: left;
    overflow-y: hidden;
}

#header {
    height: 100px;
    border-bottom: 1px solid #E5E5E5;
    background-color: #fff;
    min-width: 1100px;
    padding: 10px;
}

#header #main_menu {
    float: right;
}

.roll-under {
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
    -mox-box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
}

#header #logo {
    float: left;
}

#body {
    margin: auto;
    width: 100%; 
    overflow-y: hidden;
    padding: 10px 0 180px 0;
}

#inner_body {
    min-width: 900px;
    max-width: 1100px;
    margin: auto;
}

.scroll-pane {
    position: relative;
    height: 100%;
    padding-bottom: 150px;
}

.jScrollPaneContainer {
    margin: auto;
}

#inner_header {
    padding: 10px;
}

#header h1 {
    margin: 0;
    display: block;
    float: left;
}

h2 {
    padding: 10px;
}

#logo_div {
    float: left;
    padding: 5px 20px 10px 10px;
}

#header_buttons {
}

#search_form {
    float: left;
}

#search_form #saved_search_dropdown_button {
    background: url("/static/helpdesk/buttons/light-grey-arrow-down.png") center no-repeat;
    display: inline;
    width: 10px;
    padding: 0 5px;
    position: relative;
    right: 22px;
    cursor: pointer;
}

#search_field_container {
    margin-right: -15px;
}

#search_form #saved_search_dropdown_button:hover {
    background: url("/static/helpdesk/buttons/dark-grey-arrow-down.png") center no-repeat;
}

#search_form #saved_searches {
    border: 1px solid gray;
    display: none;
}

#navigation {
    float: left;
    padding: 5px 0 0 20px;
}

#header ul {
    margin: 0;
    padding-top: 5px;
    float: right;
    /*
    clear: both;
    */
}

#header li {
    display: inline;
    float: left;
}

#header li a {
    padding: 2px 3px;
    margin: 2px;
    border: solid #444 1px;
    color: #000;
    background-color: #eee;
    text-decoration: none;
    font-size: 10pt;
    line-height: 12pt;
}

#searchform .input {
    border: solid #444 1px;
    background-color: #fff;
    color: #ccc;
    padding: 0px 3px;
    margin: 0px 2px;
    font-size: 10pt;
    line-height: 12pt;
}

#searchform .input:focus {
    color: #000;
}


#header li a:hover {
    background-color: #ccc;
}

#header, #body {
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    padding: 5px 0;
    text-align: center;
    background-color: gray;
    clear: both;
}

label {
    font-weight: bold;
}

span.form_optional {
    color: #666;
    font-size: 95%;
}

dd.form_help_text {
    color: #666;
    font-size: 95%;
}

ul.errorlist {
    color: #a33;
    font-size: 95%;
}

dt {
    padding-top: 8px;
}

.row_tablehead {
    background-color: #6593C0;
    font-weight: bold;
    color: #fff;
    border-bottom: solid white 1px;
}

.row_tablehead span.ticket_toolbar {
    float: right;
    text-align: right;
}

.row_tablehead td {
    padding-left: 12px;
    line-height: 16pt;
    font-size: 12pt;
}

.row_columnheads {
    background-color: #94C0E8;
    font-size: 10pt;
    line-height: 12pt;
}

th {
    font-weight: bold;
    color: #3E5F84;
    text-align: left;
    padding-left: 12px;
}

.row_odd {
    background-color: #fff;
}

.row_even {
    background-color: #ecf6fc;
}

.row_odd, .row_even {
    border-bottom: solid #d5e7fd 1px;
}

.row_odd th, .row_even th {
    font-size: 10pt;
}

.row_odd td:first-child, .row_even td:first-child {
    padding-left: 12px;
}

.cell_bold {
    font-weight: bold;
}

td a, th a {
    color: blue;
    text-decoration: none;
}

td {
    font-size: 10pt;
}

.hover {
    background-color: #bcd4ec;
}

div.followup {
    width: 100%;
    border-top: solid #666 1px;
    padding:0 0 2px;
}

div.followup_mod {
    width: auto;
    border: solid #666 1px;
    padding: 5px;
    margin: 0px 0px 10px;
}

div.followup .title, div.followup_mod .title {
    font-weight: bold;
    font-size: 10pt;
}

div.followup .title span, div.followup_mod .title span {
    color: #aaa;
    font-weight: normal;
}

div.followup_mod small {
    float: right;
    font-weight: bold;
    font-style: italic;
}

span.private {
    color: #aaa;
    font-style: italic;
}

a.ticket_link_status_Closed {
    text-decoration: line-through;
}

a.ticket_link_status_Open {
    color: #393;
}

a.ticket_link_status_Reopened {
    color: #393;
}

a.ticket_link_status_Resolved {
    color: #996;
}

a.ticket_link_status {
    color: #369;
    font: 12pt Garamond;
}

a img {
    border: none;
    padding: 2px;
}

textarea#commentBox {
    width: 100%;
}

.filterBox {
    display: none;
    float: left;
    border: solid #ccc 1px;
    padding: 2px;
    margin: 4px;
    max-width: 24%;
}

.filterBoxShow {
    display: block;
}

.filterBox label {
    clear: both;
    display: block;
}

.filterBox .filterHelp {
    color: #aaa;
    font-size: 0.8em;
    clear: both;
}

span.priority1, span.priority2, span.priority3, span.priority4, span.priority5 {
    padding: 1px 12px;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 2px;
    display: block;
    text-align: center;
    width: 20px;
}

span.priority1 {
    background-color: #c00;
    color: #fff;
}

span.priority2 {
    background-color: #e80;
    color: #fff;
}

span.priority3 {
    background-color: #fe8;
    color: #000;
}

span.priority4 {
    background-color: #59c;
    color: #fff;
}

span.priority5 {
    background-color: #8c5;
    color: #fff;
}

a.followup-edit {
    float:right;
}

/* tooltips for link hover */
a.tooltip, a.tooltip:link, a.tooltip:visited, a.tooltip:active  {
  position: relative;
  text-decoration: none;
  font-style: italic;
}

a.tooltip:hover {
  background: transparent;
}

a.tooltip span {
  display: none;
  text-decoration: none;
}

a.tooltip:hover span {
  display: block;
  position: absolute;
  top: 25px;
  left: 0;
  width: 250px;
  z-index: 10;
  color: #000000;
  border:1px solid #000000;
  background: #FFFFCC;
  font: 12px Verdana, sans-serif;
  text-align: left;
}

span.link {
    cursor: pointer;
}

span#save {
    color: blue;
    padding: 5px;
}

#header div#saved_searches {
    z-index: 100;
    background: white;
}

#header #saved_searches ul {
    padding: 0;
    margin: 0;
    float: none;
}

#header #saved_searches li {
    display: block;
    float: none;
    border-bottom: 1px solid gray;
}

#header #saved_searches a {
    padding: 10px;
    margin: 0;
    border: 0;
    background: 0;
    line-height: 1.5em;
    text-decoration: underline;
    color: blue;
}

#header #saved_searches li span {
    float: right;
    padding-right: 5px;
}

div.folder_tab {
    width: 90%;
    margin: auto;
    position: relative;
    /*
    bottom: -31.5px;
    */
}

div.folder_tab div * {
    float: left;
}

span.search_title {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    /*
    position: relative;
    bottom: -30px;
    */
    background: #b0b0ae;
    padding-top: 6px;
    min-width: 170px;
}

.folder_tab_left {
    /*
    position: relative;
    bottom: -35px;
    */
}

iframe {
}




